# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/
*.tsbuildinfo

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.vscode-test/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history
.ionide

# Testing
coverage
.nyc_output

# Git
.git/
.gitignore
.gitattributes

# CI
.github/
.gitlab-ci.yml
.travis.yml

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
docs/
CONTRIBUTING.md
LICENSE

# Other
.editorconfig
.prettierignore
